<% provide(:title, 'All Users') %>
<h1>
  <% if params[:user].present? && params[:user][:name] %>
  検索結果
  <% else %>
  ユーザー一覧
  <% end %>
  </h1>

<div class="name_form"> 
<%= form_with model: User.new, method: :get, local: true do |form| %>
<%= form.label "ユーザー名検索" %><br>
<%= form.text_field :name, value: (params[:user][:name] if params[:user]), placeholder: "キーワードを入力…" %>
<%= form.submit "検索", {class: "search_name"} %>
<% end %>

</div>


<div class="col-md-10 col-md-offset-1">
  
  
 <%= will_paginate %> 
  
  <table class="table table-condensed table-hover" id="table-users">
    <thead>
      <tr>
        <th><%= User.human_attribute_name :name %></th>
      </tr>
    </thead>

    <% @users.each do |user| %>
      <tr>
        <td>
          <% if current_user.admin? %>
            <%= link_to user.name, user %>
          <% else %>
            <%= user.name %>
          <% end %>
        </td>
    　　<td class="center">
          <% if current_user.admin? && !current_user?(user) %>
            
            <%= link_to "削除", user, method: :delete,
                data: { confirm: "削除してよろしいですか？" }, class: "btn btn-danger" %>
          <% end %>
        </td>
       
        
      </tr>
    <% end %>
  </table>
  
<%= will_paginate %>  
  
</div>