<% provide(:title, 'All Users') %>
<h1>
  <% if params[:name] = present? %>
  あいうえお
  <% else %>
  かきくけこ
  <% end %>
  </h1>

<div class="name_form"> 
<%= form_with model: User.new, method: :get, local: true do |form| %>
<%= form.label "ユーザー名検索" %><br>
<%= form.text_field :name, placeholder: "キーワードを入力…" %>
<%= form.submit "検索", {class: "search_name"} %>
<% end %>

</div>


<div class="col-md-10 col-md-offset-1">
  
  
  
  
  <table class="table table-condensed table-hover" id="table-users">
    <thead>
      <tr>
        <th><%= User.human_attribute_name :name %></th>
      </tr>
    </thead>

    <% @users.each do |user| %>
      <tr>
        <td>
          <% if current_user.admin? %>
            <%= link_to user.name, user %>
          <% else %>
            <%= user.name %>
          <% end %>
        </td>
    
       
        
      </tr>
    <% end %>
  </table>
  
  
  
</div>